<app-header></app-header>

<!-- Allgemeines Preview-Video (PreviewVideo Kategorie) -->
<div
    *ngIf="previewCategory && previewCategory.videos.length > 0"
    class="general-preview-wrapper"
    (mouseenter)="startGeneralPreview()"
    (mouseleave)="stopGeneralPreview()">
    <video
        id="general-preview-video"
        class="general-preview-video"
        [src]="previewCategory.videos[0].video_file"
        muted
        loop
        playsinline
        preload="auto"></video>
    <div class="general-overlay">
        <button
            class="play-button"
            (click)="playGeneralVideo(); $event.stopPropagation()"
            aria-label="Play General Preview Video">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                fill="currentColor"
                class="bi bi-play-circle-fill"
                viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z" />
            </svg>
        </button>
        <p class="description">{{ previewCategory.videos[0].description }}</p>
        <svg
            *ngIf="isMuted[previewCategory.videos[0].id]"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-volume-off-fill"
            viewBox="0 0 16 16">
            <path
                d="M10.717 3.55A.5.5 0 0 1 11 4v8a.5.5 0 0 1-.812.39L7.825 10.5H5.5A.5.5 0 0 1 5 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"></path>
        </svg>
    </div>
</div>

<!-- Kategorisierte Videos -->
<div *ngIf="otherCategories.length > 0; else noVideos" class="background">
    <div *ngFor="let category of otherCategories" class="category-section">
        <div>
            <h2>{{ getTranslationKey(category.name) | translate }}</h2>
            <div class="videos-container">
                <div
                    *ngFor="let video of category.videos; let i = index"
                    class="video-item"
                    [ngClass]="{ 'first-video-item': i === 0 }">
                    <div
                        class="thumbnail-wrapper"
                        (click)="playVideo(video)"
                        (mouseenter)="startPreview(video.id)"
                        (mouseleave)="stopPreview(video.id)">
                        <img
                            [src]="video.thumbnail"
                            alt="{{ video.title }}"
                            class="video-thumbnail" />

                        <!-- Video Preview -->
                        <video
                            id="preview-video-{{ video.id }}"
                            class="video-preview"
                            [src]="video.video_file"
                            [muted]="isMuted[video.id]"
                            loop
                            playsinline
                            preload="none"></video>

                        <div class="overlay">
                            <button
                                class="btn btn-secondary btn-video-hover"
                                (click)="
                                    playVideo(video); $event.stopPropagation()
                                "
                                aria-label="Play Video">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    class="bi bi-play-circle-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z" />
                                </svg>
                            </button>
                            <p class="description fs-half">
                                {{ video.description }}
                            </p>
                            <button
                                type="button"
                                class="btn btn-secondary btn-video-hover"
                                (click)="
                                    toggleSound(video.id);
                                    $event.stopPropagation()
                                ">
                                <div>
                                    <svg
                                        *ngIf="!isMuted[video.id]"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        class="bi bi-volume-mute-fill"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06m7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0"></path>
                                    </svg>
                                    <svg
                                        *ngIf="isMuted[video.id]"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        class="bi bi-volume-off-fill"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M10.717 3.55A.5.5 0 0 1 11 4v8a.5.5 0 0 1-.812.39L7.825 10.5H5.5A.5.5 0 0 1 5 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noVideos>
    <p>No videos available.</p>
</ng-template>

<app-footer></app-footer>

<!-- Overlay Video Player mit der separaten Video.js Komponente -->
<div #fullscreenContainer class="fullscreen-container" *ngIf="selectedVideo">
    <div class="video-container">
        <app-vjs-player [options]="videoOptions"></app-vjs-player>
        <button
            class="close-button"
            (click)="closeVideo()"
            aria-label="Close Video">
            ✖️
        </button>
    </div>
</div>
