<app-header></app-header>
<div *ngIf="allVideos.length > 0; else noVideos" class="background">
  <div *ngFor="let video of allVideos" class="video-item">
    <!-- <img [src]="video.id" alt="{{ video.title }}" class="video-thumbnail"> -->
    <h3>{{ video.title }}</h3>
    <p>{{ video.id }}</p>
    <p>{{ video.description }}</p>
    <p>{{ video.created_at }}</p>
    <!-- <p>{{ video.video_file }}</p> -->
    <video width="320" height="240" controls>
      <source [src]="video.video_file" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
<ng-template #noVideos>
  <p>No videos available.</p>
</ng-template>
<app-footer></app-footer>
