<div class="header-container">
  <img src="/assets/img/logo_transparent.png" alt="Logo Videoflix">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Englisch
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Englisch</a></li>
      <li><a class="dropdown-item" href="#">Deutsch</a></li>
    </ul>
    <button type="button" class="btn btn-primary">Sign Up</button>
  </div> 
</div>
