<app-header></app-header>
<div class="background">
    <div class="password-reset-request-form">
        <h1>{{ "resetPassword" | translate }}</h1>
        <!-- Erfolgsmeldung anzeigen -->
        <div *ngIf="message" class="alert-message login-form">
            {{ message }}
        </div>
        <!-- Fehlermeldung anzeigen -->
        <div *ngIf="errorMessage" class="alert login-form">
            {{ errorMessage }}
        </div>
        <div class="login-form">
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3 block">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="{{ 'enterEmail.placeholder' | translate }}"
                        required
                        [(ngModel)]="email"
                        name="email" />
                </div>
                <button type="submit" class="btn btn-primary">
                    {{ "sendResetLink" | translate }}
                </button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
