<app-header></app-header>
<div class="background">
    <div class="password-reset-request-form">
        <h1>Reset Password</h1>
        <!-- Erfolgsmeldung anzeigen -->
        <div *ngIf="message" class="alert login-form">
            {{ message }}
        </div>
        <!-- Fehlermeldung anzeigen -->
        <div *ngIf="errorMessage" class="alert login-form">
            {{ errorMessage }}
        </div>
        <div class="login-form">
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3 block">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Enter your email"
                        required
                        [(ngModel)]="email"
                        name="email" />
                </div>
                <button type="submit" class="btn btn-primary">
                    Send Reset Link
                </button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
