<app-header></app-header>
<div class="background">
    <div class="home-info">
        <h1>{{ "home-info.h1" | translate }}</h1>
        <h2>{{ "home-info.h2" | translate }}</h2>
        <h3>{{ "home-info.h3" | translate }}</h3>
        <form (ngSubmit)="onSubmit()" #emailForm="ngForm" ngNativeValidate>
            <div class="mb-3">
                <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    pattern="[a-zA-ZO0-9.%+\-]+@[a-zA-Z0-9.\-]+.[a-zA-Z]{2,}"
                    placeholder="{{ 'email.placeholder' | translate }} "
                    required
                    [(ngModel)]="email"
                    name="email" />
                <button type="submit" class="btn btn-primary">
                    {{ "email.button" | translate }}
                </button>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>
