<app-header></app-header>

<div class="background">
    <div class="background">
        <!-- Erfolgsmeldung anzeigen -->
        <div *ngIf="message" class="alert-message login-form">
            {{ message }}
        </div>
        <!-- Fehlermeldung anzeigen -->
        <div *ngIf="errorMessage" class="alert login-form">
            {{ errorMessage }}
        </div>
        <div *ngIf="!message && !errorMessage" class="login-form">
            <h1>Register</h1>
            <form (ngSubmit)="onSubmit()" #emailForm="ngForm" ngNativeValidate>
                <div class="mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="exampleInputFirstName"
                        aria-describedby="emailHelp"
                        placeholder="{{ 'firstname.placeholder' | translate }}"
                        required
                        [(ngModel)]="firstname"
                        name="firstname" />

                    <input
                        type="text"
                        class="form-control"
                        id="exampleInputLastName"
                        aria-describedby="emailHelp"
                        placeholder="{{ 'lastname.placeholder' | translate }}"
                        required
                        [(ngModel)]="lastname"
                        name="lastname" />
                </div>
                <div class="mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="exampleInputUsername1"
                        aria-describedby="emailHelp"
                        placeholder="{{ 'username.placeholder' | translate }} "
                        required
                        [(ngModel)]="username"
                        name="email" />
                </div>
                <div class="mb-3">
                    <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        pattern="[a-zA-ZO0-9.%+\-]+@[a-zA-Z0-9.\-]+.[a-zA-Z]{2,}"
                        placeholder="{{ 'email.placeholder' | translate }} "
                        required
                        [(ngModel)]="email"
                        name="email" />
                </div>
                <div class="mb-3">
                    <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        minlength="6"
                        placeholder="{{ 'password.placeholder' | translate }}"
                        required
                        [(ngModel)]="password"
                        name="password" />
                </div>
                <div class="mb-3 block">
                    <input
                        type="password"
                        class="form-control"
                        minlength="6"
                        placeholder="{{
                            'confirmPassword.placeholder' | translate
                        }}"
                        required
                        [(ngModel)]="confirmPassword"
                        name="confirmPassword" />
                    <div *ngIf="!passwordsEqual" class="text-danger mt-1">
                        {{ "passwordDoesNotMatch" | translate }}
                    </div>
                </div>
                <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!passwordsEqual">
                    {{ "register" | translate }}
                </button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
