<div>
  <h1>{{ "privacy-policy.privacy-policy" | translate }}</h1>
  <p>{{ "privacy-policy.responsible-text" | translate }}</p>
  <p>Sascha Nemeth</p>
  <h2>{{ "privacy-policy.rights" | translate }}</h2>
  <p>{{ "privacy-policy.rights-text" | translate }}</p>
  <ul>
      <li>{{ "privacy-policy.rights-first-point" | translate }}</li>
      <li>{{ "privacy-policy.rights-second-point" | translate }}</li>
      <li>{{ "privacy-policy.rights-third-point" | translate }}</li>
      <li>{{ "privacy-policy.rights-fourth-point" | translate }}</li>
      <li>{{ "privacy-policy.rights-fifth-point" | translate }}</li>
      <li>{{ "privacy-policy.rights-sixth-point" | translate }}</li>
  </ul>
  <p>{{ "privacy-policy.rights-text-second" | translate }}</p>
  <p>{{ "privacy-policy.rights-text-third" | translate }}</p>
  <p>{{ "privacy-policy.rights-text-fourth" | translate }} <a
      href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank"
      rel="noopener nofollow">https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>.</p>
  <p></p>
  <h2>{{ "privacy-policy.headline-information" | translate }}</h2>
  <h3>{{ "privacy-policy.headline-processing" | translate }}</h3>
  <p>{{ "privacy-policy.information-text-first" | translate }} </p>
  <p>{{ "privacy-policy.information-text-second" | translate }}</p>
  <ul>
      <li>{{ "privacy-policy.purpose-one" | translate }}</li>
      <li>{{ "privacy-policy.purpose-two" | translate }}</li>
      <li>{{ "privacy-policy.purpose-three" | translate }}</li>
      <li>{{ "privacy-policy.purpose-four" | translate }}</li>
  </ul>
  <p>{{ "privacy-policy.data-use" | translate }}  </p>
  <h3>{{ "privacy-policy.legal-basis" | translate }}</h3>
  <p>{{ "privacy-policy.legal-basis-and-legitimate-interest" | translate }} </p>
  <h3>{{ "privacy-policy.recipient" | translate }}</h3>
  <p>{{ "privacy-policy.data-recipient" | translate }}</p>
  <p></p>
  <h3>{{ "privacy-policy.storage-time" | translate }}</h3>
  <p>{{ "privacy-policy.storage-duration" | translate }}</p>
  <p></p>
  <h3>{{ "privacy-policy.provision" | translate }}</h3>
  <p>{{ "privacy-policy.provision-required" | translate }} </p>
  <p></p>
  <h2>{{ "privacy-policy.paid-services" | translate }}</h2>
  <h3>{{ "privacy-policy.nature" | translate }}</h3>
  <p>{{ "privacy-policy.provision-of-paid-services" | translate }}</p>
  <h3>{{ "privacy-policy.legal-base" | translate }}</h3>
  <p>{{ "privacy-policy.legal-basis-processing" | translate }}</p>
  <h3>{{ "privacy-policy.receiver" | translate }}</h3>
  <p>{{ "privacy-policy.recipient-second" | translate }}</p>
  <p></p>
  <h3>{{ "privacy-policy.storage-duration-header" | translate }}</h3>
  <p>{{ "privacy-policy.storage-duration-content" | translate }}</p>
  <h3>{{ "privacy-policy.provision-required-header" | translate }}</h3>
  <p>{{ "privacy-policy.provision-required-content" | translate }}</p>
  <p></p>
  <h2>{{ "privacy-policy.contact-form" | translate }}</h2>
  <h3>{{ "privacy-policy.type-and-purpose-header" | translate }}</h3>
  <p>{{ "privacy-policy.type-and-purpose-content" | translate }}</p>
  <h3>{{ "privacy-policy.legal-basis-header" | translate }}</h3>
  <p>{{ "privacy-policy.legal-basis-content1" | translate }}</p>
  <p>{{ "privacy-policy.legal-basis-content2" | translate }}</p>
  <p>{{ "privacy-policy.legal-basis-content3" | translate }}</p>
  <h3>{{ "privacy-policy.recipient-header" | translate }}</h3>
  <p>{{ "privacy-policy.recipient-content" | translate }}</p>
  <p></p>
  <h3>{{ "privacy-policy.storage-time-header" | translate }}</h3>
  <p>{{ "privacy-policy.storage-duration-content1" | translate }}</p>
  <p>{{ "privacy-policy.storage-duration-content2" | translate }}</p>
  <h3>{{ "privacy-policy.provision-required-header2" | translate }}</h3>
  <p>{{ "privacy-policy.provision-required-content2" | translate }}</p>
  <p></p>
  <h2>{{ "privacy-policy.ssl-encryption-header" | translate }}</h2>
  <p>{{ "privacy-policy.ssl-encryption-content" | translate }}</p>
  <p></p>
  <hr>
  <h2>{{ "privacy-policy.right-to-object-header" | translate }}</h2>
  <h3>{{ "privacy-policy.individual-right-to-object-header" | translate }}</h3>
  <p>{{ "privacy-policy.individual-right-to-object-content1" | translate }}</p>
  <p>{{ "privacy-policy.individual-right-to-object-content2" | translate }}</p>
  <h3>{{ "privacy-policy.recipient-of-objection-header" | translate }}</h3>
  <p>Sascha Nemeth</p>
  <hr>
  <h2>{{ "privacy-policy.privacy-policy-changes-header" | translate }}</h2>
  <p>{{ "privacy-policy.privacy-policy-changes-content" | translate }}</p>
  <h2>{{ "privacy-policy.privacy-officer-questions-header" | translate }}</h2>
  <p>{{ "privacy-policy.privacy-officer-questions-content" | translate }}</p>
  <p></p>
  <p><em>{{ "privacy-policy.privacy-policy-creator" | translate }} <a
      href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">
      {{ "privacy-policy.data-protection-officer" | translate }}</a> (Version #2020-09-30).</em></p>
</div>

