<app-header></app-header>
<div class="background">
    <div class="login-form">
        <h1>Log In</h1>
        <form>
            <div class="mb-3">
                <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    pattern="[a-zA-ZO0-9.%+\-]+@[a-zA-Z0-9.\-]+.[a-zA-Z]{2,}"
                    placeholder="Email address"
                    required
                    [(ngModel)]="email"
                    name="email" />
            </div>
            <div class="mb-3">
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    minlength="6"
                    placeholder="Password"
                    required />
            </div>
            <div class="mb-3 form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                    (change)="toggleSubmitButton($event)" />
                <label class="form-check-label" for="exampleCheck1"
                    >Remember me</label
                >
            </div>
            <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!isCheckboxChecked">
                Log In
            </button>
        </form>
        <div class="login-footer">
            <a href="#"><p>Forgot password?</p></a>
            <div>
                <p>Don't have an account?</p>
                <a href="#"><p>Sign up</p></a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
