@import "../../../styles/mixins.scss";

.background {
    @include dFlex;
    height: 100vh;
    background-image: url("../../../assets/img/background_img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    @include dFlex;
    padding: 12px 0 24px 0;
    font-size: 3em;
    font-weight: bold;
}

.login-form {
    background: rgba(
        12,
        12,
        12,
        0.8
    ); /* Optional: Adds a semi-transparent background to the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for better visibility */
    width: 50vw;
    height: 50vh;
    color: #fff;

    .block {
        display: block;
    }

    label {
        font-weight: bold;
        padding-left: 12px;
    }

    input {
        border: 1px solid #727272;
        background: rgba(12, 12, 12, 0.8);
        color: #fff;

        &::placeholder {
            color: #fff;
        }

        &:hover {
            cursor: pointer;
            border: #fff 1px solid;
        }

        &:focus {
            outline: none; /* Entfernt den Standardfokus-Stil */
            border: 1px solid #fff; /* Ändert die Farbe des Fokus-Randes zu Rot */
            box-shadow: 0 0 16px #fff; /* Optional: Fügt einen Schatten hinzu, um den Fokus hervorzuheben */
        }
    }

    .form-check-input {
        border-radius: 0.25em;
        border: 1px solid #727272;
        background-color: rgba(12, 12, 12, 0.8);
        color: #fff; /* Farbe des Häkchens */

        &:checked::after {
            content: "\2713"; /* Unicode für das Häkchen-Symbol */
            display: block;
            color: #fff; /* Farbe des Häkchens */
            font-size: 1em;
            position: relative;
            top: -0.3em;
        }
    }

    button {
        width: 100%;
    }

    .login-footer {
        @include dFlex($fd: column);
        padding-top: 24px;

        & > div {
            @include dFlex($g: 8px);
        }
    }

    p {
        font-weight: bold;
    }
}
