<app-header></app-header>
<div class="background">
    <div class="login-form">
        <!-- Fehlermeldung anzeigen -->
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
        <h1>{{ "login" | translate }}</h1>
        <form (ngSubmit)="login()">
            <div class="mb-3 block">
                <label for="emailOrUsername">{{
                    "usernameOrEmail" | translate
                }}</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="{{
                        'usernameOrEmail.placeholder' | translate
                    }} "
                    required
                    [(ngModel)]="emailOrUsername"
                    name="emailOrUsername" />
            </div>
            <div class="mb-3">
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    minlength="6"
                    placeholder="{{ 'password.placeholder' | translate }}"
                    required
                    [(ngModel)]="password"
                    name="password" />
            </div>
            <div class="mb-3 form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                    (change)="toggleSubmitButton($event)" />
                <label class="form-check-label" for="exampleCheck1"
                    >Remember me</label
                >
            </div>
            <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!isCheckboxChecked">
                {{ "email.button" | translate }}
            </button>
        </form>
        <div class="login-footer">
            <a href="#"
                ><p>{{ "forgot" | translate }}</p></a
            >
            <div>
                <p>{{ "noAccount" | translate }}</p>
                <a href="register/"
                    ><p>{{ "register" | translate }}</p></a
                >
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
