<!-- <app-header></app-header> -->
<div class="background">
  <div class="password-reset-form">
    <h1>Set New Password</h1>
    <!-- Erfolgsmeldung anzeigen -->
    <div *ngIf="message" class="alert login-form">
      {{ message }}
    </div>
    <!-- Fehlermeldung anzeigen -->
    <div *ngIf="errorMessage" class="alert login-form">
      {{ errorMessage }}
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="password">New Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter new password"
          required
          [(ngModel)]="password"
          name="password"
        />
      </div>
      <div class="mb-3">
        <label for="confirmPassword">Confirm New Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm new password"
          required
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
        />
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>
<app-footer></app-footer>