<app-header></app-header>
<div class="background">
    <div class="login-form">
        <h1>{{ "setNewPassword" | translate }}</h1>
        <!-- Erfolgsmeldung anzeigen -->
        <div *ngIf="message" class="alert login-form">
            {{ message }}
        </div>
        <!-- Fehlermeldung anzeigen -->
        <div *ngIf="errorMessage" class="alert login-form">
            {{ errorMessage }}
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3 block">
                <label for="password">{{ "newPassword" | translate }}</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="{{ 'newPassword.placeholder' | translate }}"
                    required
                    [(ngModel)]="password"
                    name="password" />
            </div>
            <div class="mb-3 block">
                <label for="confirmPassword">{{
                    "confirmNewPassword" | translate
                }}</label>
                <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="{{
                        'confirmNewPassword.placeholder' | translate
                    }}"
                    required
                    [(ngModel)]="confirmPassword"
                    name="confirmPassword" />
            </div>
            <button type="submit" class="btn btn-primary">
                {{ "resetPassword" | translate }}
            </button>
        </form>
    </div>
</div>
<app-footer></app-footer>
